html {
	--wine: hsla(343, 44%, 25%, 1);
	--white-smoke: hsla(15, 20%, 96%, 1);
	--walnut-brown: hsla(15, 8%, 31%, 1);
	--vermilion: hsla(5, 88%, 57%, 1);
	--cornell-red: hsla(359, 75%, 42%, 1);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: var(--white-smoke);
	margin: 0;
	box-sizing: border-box;
	border: 1vmin solid var(--wine);
	color: var(--walnut-brown);
}

a {
	color: var(--cornell-red);
	&:visited { color: var(--wine); }
	&:active { color: var(--vermilion); }
}

h1 sup {
	font-family: cursive;
	font-size: 40%;
	transform: translate(25px, -12px) rotate(-27deg);
	display: -webkit-inline-box;
	margin-left: -5ex;
}

canvas.main {
	resize: both;
	width: 600px;
	height: 300px;
	image-rendering: pixelated;
}

p {
	margin: 0.8ex;
}